@{
    var currentUrl = Context.Request.Path + Context.Request.QueryString ?? string.Empty;
    // Define a list of navigation items

    var navItems = new List<(string Icon, string Label, string Href, int Level)>
    {
        ("bi bi-kanban", "會員管理", "",0),
        ("bi bi-person-circle", "會員", "/UserManagement?from=user",1),
        ("bi bi-building", "單位與中心", "/UserManagement?from=unit",1),
        ("bi bi-card-list", "評鑑表單", "/Form",0),
        ("bi bi-file-earmark-bar-graph", "評鑑", "/Evaluation",0),
        ("bi bi-gpu-card", "報告", "/Report",0)
    };

    bool IsActive(string href)
    {
        if (string.IsNullOrEmpty(href)) return false;
        return currentUrl.Contains(href, StringComparison.OrdinalIgnoreCase);
    }

    string getP(int level)
    {
        if (level == 0) return "";
        return "p-1 " + "ms-" + level * 3;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("LoadCSS")
    @await RenderSectionAsync("Css", required: false)
</head>
<body>

    <main role="main" class="h6">
        <div class="container-fluid bg-light">
            <div class="row layout">
                <div class="col-2 m-0 p-0" style="height:100%">
                    <div class="d-flex flex-column flex-shrink-0 p-3" style="height:100%">
                        <p class="h5">
                            功能列表
                        </p>
                        <ul class="nav nav-pills flex-column mb-auto sidebar">
                            @foreach (var item in navItems)
                            {
                                var isActive = IsActive(item.Href);
                                var p = getP(item.Level);
                                <li class="nav-item @p @(isActive ? "active" : "")" href="@item.Href">
                                    <i class="@item.Icon h6"></i> @item.Label
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div id="content-area" class="col-10 m-0 p-0">
                    @* head *@
                    <div id="body-header">
                        <nav class="navbar navbar-light">
                            <div class="container-fluid p-0">
                                <a class="navbar-brand" href="#">
                                    @* <img src="/assets/user.png" alt="" width="30" height="30" class="d-inline-block align-text-top"> *@
                                    logo
                                </a>
                                <div class="d-flex align-items-center">
                                    <span id="userName" class="h6 mb-0 me-1">嗨,會員</span>
                                    <div class="dropdown">
                                        <a class="nav-link align-items-center dropdown-toggle p-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="/assets/user.png" alt="" width="30" height="30" class="">
                                            <i class="d-inline-block m-0"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end p-1" aria-labelledby="navbarDropdown">
                                            <li><span id="logOut" class="dropdown-item h6 m-0" href="#">登出</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    @* body *@
                    <div id="body-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>

    @await Html.PartialAsync("LoadJS")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
