@model IEnumerable<ReviewWebsite.Models.Db.FormList>


<meta name="dynamic-styles" data-href="/css/form.css" />
<meta name="dynamic-scripts" data-src="/js/form.js" />

<div class="card text-start">
    <div class="card-body">
        <div class="text-end mb-2">
            <a asp-action="Create" type="button" class="btn btn-primary" asp-controller="Form">新增表單</a>
        </div>
        <table class="table table-striped list p-0" id="formTable">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                }
                @foreach (var item in Model)
                {
                    index++;
                    <tr>
                        <td>
                            @index
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormattedUpdateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormattedCreateTime)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.FormId"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

