@model ReviewWebsite.Models.Db.Form
@{
    Layout = "_Layout";
}
@section Css {
    <link rel="stylesheet" href="~/css/common.css" />
    <link rel="stylesheet" href="~/css/form.css" />
}

@section Scripts {
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/handsontable.js" asp-append-version="true"></script>
    <script src="~/js/form.js" asp-append-version="true"></script>
}
<div>
    <span id="FormId" hidden>@Model.FormId</span>
    <span id="Data" hidden>@Model.Data</span>
</div>
<div class="card shadow-sm">
    <div class="card-header-tabs pt-2 d-flex justify-content-between align-items-center">
        <span class="h2 mx-auto">@ViewData["Title"]</span>
        <button type="button" class="btn btn-success h2 me-3" id="save">存儲</button>
    </div>
    <div class="card-body">
        <div id="spreadsheet" class="scroll-container">
        </div>
    </div>
</div>


@*  <input asp-for="FormHead.FormHeadId" class="form-control" hidden />
 <div class="row justify-content-center">
     <div class="col-3 form-group">
         <label asp-for="FormHead.Year" class="control-label"></label>
         <input asp-for="FormHead.Year" class="form-control" />
         <span asp-validation-for="FormHead.Year" class="text-danger"></span>
     </div>
     <div class="col-3 form-group">
         <label asp-for="FormHead.Name" class="control-label"></label>
         <input asp-for="FormHead.Name" class="form-control" />
         <span asp-validation-for="FormHead.Name" class="text-danger"></span>
     </div>
 </div>
 <br />
<div class="ms-3 me-3">
    <div class="row row justify-content-center">
        <div class="col-12 align-middle">
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th class="text-center" style="@widths[0]">
                            #
                        </th>
                        <th style="@widths[1]">
                            @Html.DisplayNameFor(model => model.FormContentList.First().CheckIndicators)
                        </th>
                        <th style="@widths[2]">
                            @Html.DisplayNameFor(model => model.FormContentList.First().CheckStandards)
                        </th>
                        <th style="@widths[3]">
                            @Html.DisplayNameFor(model => model.FormContentList.First().AttachedInfo)
                        </th>
                        <th style="@widths[4]">
                            @Html.DisplayNameFor(model => model.FormContentList.First().Assessment)
                        </th>
                        <th style="@widths[5]">
                            @Html.DisplayNameFor(model => model.FormContentList.First().KPILinkage)
                        </th>
                        <th style="@widths[6]">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="sortable">
                    @if (Model.FormContentList != null && Model.FormContentList.Any())
                    {
                        @for (var i = 0; i < Model.FormContentList.Count; i++)
                        {
                            @await Html.PartialAsync("_ItemRow", Model.FormContentList[i])
                        }
                    }
                   
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="offset-4 col-2 d-grid gap-2">
            <button type="button" class="btn btn-outline-primary add-row-item mt-2" data-type="title">新增標題</button>
        </div>
        <div class="col-2 d-grid gap-2">
            <button type="button" class="btn btn-outline-primary add-row-item mt-2" data-type="item">新增欄位</button>
        </div>

        <div class="offset-3 col-1 d-grid gap-2">
            <button type="button" class="btn btn-success mt-2" id="save" data-type="item">存儲</button>
        </div>
    </div>
</div>

 <div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal fade" id="kpiModal" tabindex="-1" aria-labelledby="kpiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span id="kpiId" hidden></span>
                <h5 class="modal-title" id="kpiModalLabel">KPI</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol id="selectable">
                    @for (var i = 0; i < 30; i++)
                    {
                        <li class="ui-state-default" data-id="@i">@i</li>
                    }

                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" id="kpiConfirm" class="btn btn-primary" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div> *@