@model ReviewWebsite.Models.ViewModel.UserManagementViewModel

@{
    var indexUser = 1;
    var indexUnit = 1;
    var accessRights = new Dictionary<String, String>
    {
         { "0", "一般人" },
         { "3", "管理者" },
    };
}
<meta name="dynamic-styles" data-href="css/feature/users_manage.css" />
<meta name="dynamic-scripts" data-src="js/feature/users_manage.js" />

<div class="card text-start">
    @if (Model.Users != null)
    {
        <div class="card-body" id="userCard">
            <table class="table table-striped list p-0" id="userTable">
                <thead>
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Users.First().Name)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Users.First().Email)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Users.First().Birthday)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Users.First().Telephone)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Users.First().AccessRight)
                        </th>
                        <th scope="col">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Users != null && Model.Users.Any())
                    {
                        @foreach (var item in Model.Users)
                        {
                            <tr id="@item.UserId">
                                <td scope="row">
                                    @indexUser
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormattedBirthday)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telephone)
                                </td>
                                <td data-access-number="@item.AccessRight">
                                    @accessRights.GetValueOrDefault(item.AccessRight, "一般人")
                                </td>
                                <td>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#userInfoModal" data-id="@item.UserId"><i class="bi bi-pencil"></i></a>
                                    @* <span data-bs-toggle="modal" data-bs-target="#userInfoModal" data-id="@item.UserId"><i class="bi bi-pencil"></i></span> *@
                                </td>
                            </tr>
                            indexUser++;
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else if (Model.Units != null)
    {
        <div class="card-body" id="unitCard">
            <div class="text-end mb-2">
                <button type="button" id="add-unit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUnitModal">新增單位與中心</button>
            </div>
            <table class="table table-striped list p-0" id="unitTable">
                <thead>
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Units.First().Name)
                        </th>
                        @*   <th scope="col">
                    操作
                    </th> *@
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Units != null && Model.Units.Any())
                    {
                        @foreach (var item in Model.Units)
                        {
                            <tr>
                                <td scope="row">
                                    @indexUnit
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                @*  <td>
                    <span data-bs-toggle="" data-bs-target=""><i class="bi bi-pencil"></i></span>
                    </td> *@
                            </tr>
                            indexUnit++;
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@if (Model.Users != null)
{
    <div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title h6" id="exampleModalLabel">使用者資訊</p>
                </div>
                <div class="modal-body">
                    <input asp-for="Users.FirstOrDefault().UserId" class="form-control" type="hidden" />


                    <div class="inp">
                        <input type="text" asp-for="Users.FirstOrDefault().Name" placeholder="&nbsp;">
                        <span class="label animate">
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Name)
                        </span>
                    </div>

                    <div class="inp">
                        <input type="text" asp-for="Users.FirstOrDefault().Email" placeholder="&nbsp;" readonly>
                        <span class="label animate">
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
                        </span>
                    </div>

                    <div class="inp">
                        <input type="text" asp-for="Users.FirstOrDefault().Birthday" placeholder="&nbsp;" readonly>
                        <span class="label animate">
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Birthday)
                        </span>
                    </div>

                    <div class="inp">
                        <input type="text" asp-for="Users.FirstOrDefault().Telephone" placeholder="&nbsp;" readonly>
                        <span class="label animate">
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Telephone)
                        </span>
                    </div>

                    <div class="inp">
                        <input type="text" asp-for="Users.FirstOrDefault().Name" placeholder="&nbsp;" readonly>
                        <span class="label animate">
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Name)
                        </span>
                    </div>
                    <div class="select inp" asp-for="Users.FirstOrDefault().AccessRight">
                        <select asp-for="Users.FirstOrDefault().AccessRight">
                            @foreach (var option in accessRights)
                            {
                                <option value="@option.Key">@option.Value</option>
                            }
                        </select>
                        <i class="bi bi-caret-down-fill"></i>
                        <span class="label">
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().AccessRight)
                        </span>
                    </div>
                    <div class="form-group d-flex justify-content-end mt-3">
                        <button id="submitUser" value="確定" class="btn btn-primary me-2">確定</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else if (Model.Units != null)
{
    <div class="modal fade" id="addUnitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title h6" id="exampleModalLabel">新增單位或中心</p>
                </div>
                <div class="modal-body">
                    <div class="inp">
                        <input type="text" asp-for="Units.FirstOrDefault().Name" placeholder="&nbsp;" value="">
                        <span class="label animate">
                            @Html.DisplayNameFor(model => model.Units.FirstOrDefault().Name)
                        </span>
                    </div>
                    <div class="form-group d-flex justify-content-end mt-3">
                        <button id="submitUnit" value="確定" class="btn btn-primary me-2">確定</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


