@model IEnumerable<ReviewWebsite.Models.Db.EvaluationList>

<meta name="dynamic-styles" data-href="/css/feature/evalution.css" />
<meta name="dynamic-scripts" data-src="/js/feature/evalution/index.js" />

<div class="card text-start">
    <div class="card-body">
        <div class="text-end mb-2">
            <a asp-action="Create" type="button" class="btn btn-primary" asp-controller="Evaluation">新增評鑑</a>
        </div>
        <table class="table" id="evaluationTable">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FromName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Units)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th>
                        評鑑
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                }
                @foreach (var item in Model)
                {
                    index++;
                    <tr>
                        <th>
                            @index
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.FromName)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Year)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Units)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormattedUpdateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormattedCreateTime)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EvaluationId"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>