@using ReviewWebsite.Models.Db
@model ReviewWebsite.Models.ViewModel.EvaluationCreateOrEditViewModel

@{
    Layout = "_Layout";
    // var widthNums = ViewData["Widths"] as List<float>;
    // var widths = widthNums.Select(w => $"width:{w}vw!important;").ToArray();
}
@section Css {
    <link rel="stylesheet" href="~/css/feature/evalution.css" />
}

@section Scripts {
    <script src="~/js/feature/evalution/create_edit.js" asp-append-version="true"></script>
}
@* 新增時顯示 *@
@if (Model.Evaluation == null)
{
    <div class="card shadow-sm ">
        <div class="collapse multi-collapse show" id="multiCollapseExample2">
            <div class="card-header-tab d-flex justify-content-between pe-3 ps-3 pt-3">
                <a asp-action="Index" type="button" class="btn btn-primary h2 m-0" asp-controller="Evaluation">返回</a>
                <span class="h5 m-0">@ViewData["Title"]</span>
                <button type="button" class="btn btn-success h2 m-0" id="createTable">產生表單</button>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <span class="text-start" style="width: 100px;">
                        <label asp-for="SelectedUnits" class="control-label"></label>
                    </span>
                    <ul id="buttonContainer" class="d-flex flex-wrap gap-2 ps-0">
                        @foreach (var unit in Model.Units)
                        {
                            <li class="selectable_item" data-id="@unit.UnitId">@unit.Name</li>
                        }
                    </ul>
                </div>
                <div class="d-flex">
                    <span class="text-start" style="width: 100px;">
                        <label asp-for="SelectedFromId" class="control-label"></label>
                    </span>
                    <div class="select">
                        <select asp-for="SelectedFromId"
                                asp-items="@(new SelectList(Model.FormList, nameof(FormList.FormId), nameof(FormList.Name)))">
                        </select>
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="toggle" class="text-center">
            <span class="collapse_btn" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                <i class="bi bi-caret-up-fill"></i>
            </span>
        </div>

    </div>
}
@if (Model.Evaluation != null)
{
    <div>
        <span id="EvaluationId" hidden>@Model.Evaluation.EvaluationId</span>
        <span id="Data" hidden>@Model.Evaluation.Data</span>
    </div>
}
<div id="excelTable" class="card shadow-sm mt-2 hidden">
    <div class="card-header-tab d-flex justify-content-between pb-0 pe-3 ps-3 pt-3">
        @if (Model.Evaluation != null)
        {
            <a asp-action="Index" type="button" class="btn btn-primary h2 m-0" asp-controller="Evaluation">返回</a>
            <span class="h5 m-0">@ViewData["Title"]</span>
            <button type="button" class="btn btn-success h2 m-0" id="save">存儲</button>
        }
        else
        {
            <button type="button" class="btn btn-success h2 ms-auto" id="save">存儲</button>
        }
    </div>
    <div class="card-body">
        <div id="spreadsheet" class="scroll-container">
        </div>
    </div>
</div>
