@model IEnumerable<ReviewWebsite.Models.Db.EvaluationList>

<meta name="dynamic-styles" data-href="/css/feature/report.css" />
<meta name="dynamic-scripts" data-src="/js/feature/report.js" />

<div class="card shadow-sm ">
    <div class="collapse multi-collapse show" id="multiCollapseExample2">
        <div class="card-header-tab d-flex justify-content-between pe-3 ps-3 pt-3">
            <button type="button" class="btn btn-success h2 m-0 ms-auto" id="createTable">產生報表</button>
        </div>
        <div class="card-body">
            <div class="d-flex">
                <span class="text-start" style="width: 100px;">
                    <label asp-for="@Model.FirstOrDefault().FromName" class="control-label"></label>
                </span>
                <ul id="buttonContainer" class="d-flex flex-wrap gap-2 ps-0">
                    @foreach (var item in Model)
                    {
                        <li class="selectable_item" data-id="@item.EvaluationId">@item.Year-@item.FromName-@item.Units</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="toggle" class="text-center">
        <span class="collapse_btn" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
            <i class="bi bi-caret-up-fill"></i>
        </span>
    </div>

</div>

<div id="excelTable" class="card shadow-sm mt-2 hidden">
    <div class="card-header-tab d-flex justify-content-between pb-0 pe-3 ps-3 pt-3">
        <button type="button" class="btn btn-success h2 ms-auto" id="exportExcel">匯出excel</button>
    </div>
    <div class="card-body">
        <div id="spreadsheet" class="scroll-container">
        </div>
    </div>
</div>



@* <div class="row">
  
    <div id="collapseExample" class="collapse show col-12 card shadow-sm p-0">
        <div class="card-header-tab d-flex justify-content-end pe-3 ps-3 pt-3">
            <button type="button" class="btn btn-success h2 m-0" id="create">產生報表</button>
        </div>

        <div class="card-body h6 pe-0 ps-3 pe-3 mb-0 pt-1">
            <div class="d-flex align-items-center">
                <span class="flex-shrink-0 text-start" style="width: 90px;">
                    <label asp-for="@Model.FirstOrDefault().FromName" class="control-label"></label>
                </span>
                <div class="flex-grow-1">
                    <ol class="list-unstyled d-flex flex-wrap gap-2 mb-0" id="selectable">
                        @foreach (var item in Model)
                        {
                            <li class="ui-state-default  px-3 py-1" data-id="@item.EvaluationId">@item.Year-@item.FromName-@item.Units</li>
                        }
                    </ol>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div id="more" class="btn btn-outline-primary btn-sm more-btn">更多</div>
            </div>

        </div>

    </div>

    <div class="show col-12 card shadow-sm mt-2 p-0">
        <div class="card-header-tab d-flex justify-content-end pe-3 ps-3 pt-3">
            <button type="button" class="btn btn-success h2 m-0 hidden" id="output">Excel輸出</button>
        </div>
        <div class="card-body">
            <div id="spreadsheet" class="scroll-container">
            </div>
        </div>
    </div>

</div> *@
